@import "tailwindcss";
@import "@nuxt/ui";

html {
    font-family: 'Inter', sans-serif;
}

html.dark {
    color-scheme: dark;
}

body {
    @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-white transition-colors duration-300;
}